<%- include('header'); -%>


<h2>This is the about</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique officiis aspernatur maxime incidunt praesentium blanditiis natus a, atque deserunt sit placeat ipsam debitis alias labore expedita minus nemo ullam ab.</p>

<%- include('footer'); -%>